@import "parts/variables";
@import "parts/components";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html body {
  font-family: 'Open Sans', sans-serif;
}

@import "parts/header";
@import "parts/main-poster";
@import "parts/speakers";
@import "parts/experts-notes";
