
.header {
  background-color: #fff;
  @media (max-width: 640px) {
    z-index: 200;
  }
  .menu-lang-item {
    @media (max-width: 640px) {
      z-index: 100;
      margin-top: 20px;
      margin-right: 14px;
      position: absolute;
      top: 0;
      right: 26%;
    }
    @media (max-width: 479px) {
      right: 3%;
    }
  }

  .menu-lang-btn {
    color: #7f7e7c;
    padding: 9px 25px;
    border-left: 1px solid #7f7e7c;
    border-radius: 0;
    @media (max-width: 992px) {
      padding: 3px 10px;
    }
    @media (max-width: 640px) {
      z-index: 100;
      display: inline-block;
    }

    &:hover,
    .nav &:focus{
      background-color: #fff;
    }
    .caret {
      color: #1874cd;
    }
  }
  .container {
    .navbar-toggler {
      padding: 4px;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 2px;
      display: none;
      background-color: $bg-color;
      @media (max-width: 640px) {
        display: inline-block;
      }
      &-dash {
        border-radius: 1px;
        display: block;
        margin: 6px;
        height: 2px;
        width: 30px;
        background-color: #fff;
      }
    }
    @media (min-width: 992px) {
      float: none;
      padding-left: 15px;
    }
    @media (min-width: 768px) {
      float: none;
      padding: 0 0 0 15px;
    }
    @media (max-width: 767px) {
      padding: 0;
      margin: 0;
    }
  }
  &-logo {
    padding: 10px 10px 0 10px;
    @media (max-width: 479px) {
      padding-bottom: 10px;
    }
    .logo-img {
      @media (min-width: 600px) {
        max-width: none;
      }
      @media (max-width: 600px) {
        max-width: none;
      }
      @media (max-width: 400px) {
        max-width: none;
      }
    }
  }
  &__nav {
    display: block;
    padding: 0;
    float: right;

    @media (max-width: 640px) {
      display: none;
      position: unset;
      border-top: 1px solid $bg-color;
      width: 100%;
      text-align: center;
    }

    @media (min-width: 768px) and (max-width: 992px){
      width: 60%;
    }
    @media (min-width: 641px) and (max-width: 767px) {
      width: 55%;
      padding: 0 2px 0 2px;
      margin: 0 15px;
      padding-top: 15px;
    }
    &-menu {
      padding: 24px 0;
      float: right;
      @media (max-width: 640px) {
        float: none;
      }
      @media (min-width: 768px) {
        padding: 20px 0 0 0;
      }
      @media (min-width: 641px) and (max-width: 767px) {
        padding: 0 2px 0 2px;
      }
    }

    .dropdown-menu {
      padding-left: 8px;
      padding-right: 6px;
      margin: 0;
      min-width: 105px;
      box-shadow: none;
      border: none;
      color: #7f7e7c;
      li a {
        color: #7f7e7c;
        width: 90%;
        display: block;
        margin: 10px auto;
        padding: 5px 10px;
        &:hover {
          background-color: white;
          color: $font-hover-color;
        }
      }
    }
  }
  &__sign-up-btn {
    width: 150px;
    font-size:  0.875em;
    background-color: #1874cd;
    border-radius: 0;
    text-transform: uppercase;
    height: 100%;
    padding: 36px 31px;
    float: right;
    @media (max-width: 479px) {
      display: none;
    }
  }
}

li.header__nav-item {
  float: left;

  @media (max-width: 640px) {
    display: block;
    text-align: center;
    float: none;
    padding: 10px 0 ;
  }
  a.menu-btn {
    padding: 10px 25px;
    @media (min-width: 768px) and (max-width: 992px){
      padding: 5px 15px;
    }
    @media (max-width: 767px){
      padding: 2px 8px;
    }
    &::after {
      content: "";
      display: block;
      opacity: 0;
      position: relative;
      top: 40px;
      height: 2px;
      background-color: red;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &:hover {
      background-color: #fff;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}
