 // ДЛЯ кнопки зміни мови
.dropdown-menu {
  padding-left: 8px;
  padding-right: 6px;
  margin: 0;
  min-width: 105px;
  box-shadow: none;
  border: none;
  color: #7f7e7c;
  li a {
    color: #7f7e7c;
    width: 90%;
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    &:hover {
      background-color: white;
      color: $font-hover-color;
    }
  }
}

.nav-sm-buttons {
  display: none;
  margin-top: 20px;
  float: right;
  max-width: 100%;
  margin-right: 15px;
  @media (max-width: 640px) {
    display: block;
    margin-top: 15px;
  }
  @media (max-width: 479px) {
    margin-right: 13px;
    margin-bottom: 15px;
    right: 35%;
  }
  @media (max-width: 359px) {
    right: 40%;
  }
}

// ВИПАДАЮЧЕ МЕНЮ до ширини 640px
.dropdown-list {
  display: block;
  text-align: center;
  float: none;
  ul {
    float: none;
  }
  li {
    display: block;
    text-align: center;
    float: none;
    padding: 10px 0 ;
  }
}
//СТИЛІ ДЛЯ КНОПОК СЛАЙДЕРА
.slider-dashes {
  display: inline-block;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 100px;
  line-height: 0;

  li {
    position: relative;
    width: 15px;
    display: inline-block;
    margin: 0 5px;
    height: 3px;
    padding: 0;
    background-color: #dcdcdc;
    transition: all 0.4s;
    &.slick-active {
      width: 30px;
      background-color: red;
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      opacity: 0;
      width: 100%;
      border: none;
    }
  }
}

//СТИЛІ ДЛЯ МОДАЛЬНОГО ВІКНА
.modal {
  &-content {
    position: relative;
    padding: 45px 70px 30px 60px;
    @media (max-width: 1040px) {
      padding: 45px 30px 30px 35px;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 100;
      height: 40px;
      width: 40px;
      border: 1px solid grey;
      &:hover {
        color: red;
      }
    }
  }
  &-dialog {
    width: 1020px;
    @media (max-width: 1040px) {
      width: 95%;
    }
  }
  &-body {
    color: #575757;
    padding-right: 50px;
    @media (max-width: 1040px) {
      padding: 0;
    }
    &-photo {
      padding: 0;
      float: left;
      @media (max-width: 1040px) {
        float: left;
        height: auto;
        width: 235px;
      }
      @media (max-width: 768px) {
        height: auto;
        width: 180px;
      }
      @media (max-width: 640px) {
        display: none;
      }
    }

    &__speaker-info {
      font-size: 0.875em;
      padding-left: 10px;
      @media (max-width: 1040px) {
        float: right;
        width: 65%;
        margin-left: 0;
      }
      @media (max-width: 768px) {
        display: inline-block;
      }

      @media (max-width: 640px) {
        width: 100%;
      }
    }

    &__speaker-text {
      line-height: 1.2;
      margin: 60px 30px 0 0;

      @media (max-width: 1040px) {
        margin: 10px 5px 0 0;
      }

      p {
        margin-bottom: 5px;
      }
    }

    &__list-title {
      margin-top: 25px;
      display: block;
      font-weight: 700;
      line-height: 1.5;
    }

    &__list {
      padding-left: 0;
      margin-top: 10px;
      list-style: none;
    }

    &__list-item {
      &::before {
        content: "\f00c";
        font-family: 'Font Awesome 5 Free', serif;
        font-weight: 700;
        display: inline-block;
        padding-right: 20px;
        color: red;
      }
    }
  }
  &-header {
    padding: 15px 0 15px 0;
    float: right;
    @media (max-width: 1040px) {
      float: none;
      margin-bottom: 45px;
    }
  }
  &-title {
    display: inline-block;
    font-size: 1.125em;
    color: #575757;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    position: relative;
    &::after {
      position: absolute;
      bottom: -15px;
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: $font-hover-color;
    }
  }
}